:root {
    --lightgray: hsl(0, 0%, 95%);
    --brightorange: hsl(31, 77%, 52%);
    --darkcyan: hsl(184, 100%, 22%);
    --verydarkcyan: hsl(179, 100%, 13%);
    --transpwhite: hsla(0, 0%, 100%, 0.75);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--lightgray);
    color: var(--transpwhite);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
}

.wrapper {
    position: relative;
    height: 100vh;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    display: flex;
    width: 100%;
    min-height: 40%;
    border-radius: 1rem;
    overflow: hidden;
}

.items {
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
    line-height: 25px;
}

.items img {
    height: 40px;
    width: 64px;
}

.col1 {

    background: var(--brightorange);
}

.col2 {
    background: var(--darkcyan);
}

.col3 {

    background: var(--verydarkcyan);
}

h1 {
    font-family: "Big Shoulders Display", cursive;
    font-weight: bold;
    color: var(--lightgray);
    text-transform: uppercase;
    font-size: 3.125rem;
}

a .button {
    border-style: none;
    background: var(--lightgray);
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
    margin-top: 5rem;
    cursor: pointer;
    border: 2px solid var(--transpwhite);
    transition-duration: 0.4s;
}

.button span {
    margin: 0 1rem;
    text-decoration: none;
}

.btn1 {
    color: var(--brightorange);
}

.btn2 {
    color: var(--darkcyan);
}

.btn3 {
    color: var(--verydarkcyan);
}

button:hover {
    background: transparent;
    border: 2px solid var(--transpwhite);
    color: var(--transpwhite);
}

.attribution {
    position: fixed;
    top: 95%;
}

@media all and (max-width: 600px) {
    .wrapper {
        position: relative;
        margin: 0 auto;
        height: 100%;
    }

    .card {
        display: flex;
        margin: 5.8rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .attribution {
        position: absolute;
        top: 98%;
    }
}
